{% extends 'admin/template.html' %}
{% load static %}
<style>
    table.NewsFeed_table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

table.NewsFeed_table td,
table.NewsFeed_table th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

</style>
{% block content %}
<div class="right_container">
    <div class="horizontal gap-20 padd">
        <h3 class="top_head">Users Subscriptions</h3>
    </div>
    <div class="padd">
        <table class="NewsFeed_table padd">
            <thead>
                    <th style="font-weight: bold;">Register At</th>
                    <th style="font-weight: bold;">Username</th>
                    <th style="font-weight: bold;">Full Name</th>
                    <th style="font-weight: bold;">Email</th>
                    <th style="font-weight: bold;">Password</th>
                    <th style="font-weight: bold;">User Type</th>
                    <th style="background-color: rgb(211, 236, 228); font-weight: bold;">Is Activated NewsFeed</th>
                    <th style="background-color: rgb(211, 236, 228); font-weight: bold;">Start Date</th>
                    <th style="background-color: rgb(211, 236, 228); font-weight: bold;">NewsFeed Package</th>
                    <th style="background-color: rgb(211, 236, 228); font-weight: bold;">NewsFeed Package Days</th>
                    <th style="background-color: rgb(211, 236, 228); font-weight: bold;">NewsFeed Groups</th>
                    <th style="background-color: rgb(211, 236, 228); font-weight: bold;">NewsFeed Plan</th>
                    <th style="background-color: rgb(211, 236, 228); font-weight: bold;">NewsFeed Plan Price</th>
                    <th style="background-color: rgb(211, 236, 228); font-weight: bold;">NewsFeed Payment Type</th>
                    <th style="background-color: rgb(211, 236, 228); font-weight: bold;">NewsFeed Account Status</th>
                    <th style="font-weight: bold;">Action</th>
                    <th style="background-color: rgb(198, 193, 204); font-weight: bold;">Is Activated Plays</th>
                    <th style="background-color: rgb(198, 193, 204); font-weight: bold;">Plays Start Date</th>
                    <th style="background-color: rgb(198, 193, 204); font-weight: bold;">Plays Package</th>
                    <th style="background-color: rgb(198, 193, 204); font-weight: bold;">Plays Package Days</th>
                    <th style="background-color: rgb(198, 193, 204); font-weight: bold;">Plays Plan</th>
                    <th style="background-color: rgb(198, 193, 204); font-weight: bold;">Plays Price</th>
                    <th style="background-color: rgb(198, 193, 204); font-weight: bold;">Plays Payment Type</th>
                    <th style="background-color: rgb(198, 193, 204); font-weight: bold;">Plays Account Status</th>
                    <th style="font-weight: bold;">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.register_at|default:"--" }}</td>
                    <td>{{ user.username|default:"--" }}</td>
                    <td>{{ user.name|default:"--" }} {{ user.last_name|default:"--" }}</td>
                    <td>{{ user.email|default:"--" }}</td>
                    <td>{{ user.user_password|default:"--"}}</td>
                    <td>{{ user.user_type|default:"--" }}</td>
                    <td style="background-color: rgb(211, 236, 228);">{% if user.num_groups > 0 %}True{% else %}False{% endif %}</td>
                    <td style="background-color: rgb(211, 236, 228);">{{ user.start_date|default:"--" }}</td>
                    <td style="background-color: rgb(211, 236, 228);">{{ user.package|default:"--" }}</td>
                    <td style="background-color: rgb(211, 236, 228);">{{ user.pkg_days|default:"--" }}</td>
                    <td style="background-color: rgb(211, 236, 228);">{{ user.num_groups }}</td>
                    <td style="background-color: rgb(211, 236, 228);">{{ user.plan|default:"--" }}</td>
                    <td style="background-color: rgb(211, 236, 228);">{{ user.plan_price|default:"--" }}</td>
                    <td style="background-color: rgb(211, 236, 228);">{{ user.payment_type|default:"--" }}</td> 
                    <td style="background-color: rgb(211, 236, 228);">{{ user.payment_status|default:"--" }}</td>
                    <td>
                        {% if user.payment_type == "Venmo" and not user.payment_status %}
                            <form method="POST" action="{% url 'approve_payment' user.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="type" value="NewsFeed">
                                <button type="submit" style="background-color: #28a745; color: #fff; padding: 6px 12px; border: none; border-radius: 4px; cursor: pointer;">
                                Approve NewsFeed
                                </button>
                            </form>

                        {% else %}
                        {% if user.payment_status %}
                        {{ user.payment_status }}
                        {% else %}
                        --
                        {% endif %}
                        {% endif %}
                    </td>
                    <td style="background-color: rgb(198, 193, 204);">{{ user.is_activate_playes }}</td>
                    <td style="background-color: rgb(198, 193, 204);">{{ user.plays_start_date|default:"--" }}</td>
                    <td style="background-color: rgb(198, 193, 204);">{{ user.plays_package|default:"--" }}</td>
                    <td style="background-color: rgb(198, 193, 204);">{{ user.plays_pkg_days|default:"--" }}</td>
                    <td style="background-color: rgb(198, 193, 204);">{{ user.plays_plan|default:"--" }}</td>
                    <td style="background-color: rgb(198, 193, 204);">{{ user.plays_price|default:"--" }}</td>
                    <td style="background-color: rgb(198, 193, 204);">{{ user.plays_payment_type|default:"--" }}</td> 
                    <td style="background-color: rgb(198, 193, 204);">{{ user.plays_payment_status|default:"--" }}</td>
                    <td>
                        {% if user.plays_payment_type == "Venmo" and not user.plays_payment_status %}
                            <form method="POST" action="{% url 'approve_payment' user.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="type" value="Plays">
                                <button type="submit" style="background-color: #28a745; color: #fff; padding: 6px 12px; border: none; border-radius: 4px; cursor: pointer;">
                                Approve Plays
                                </button>
                            </form>

                        {% else %}
                        {% if user.plays_payment_status %}
                        {{ user.plays_payment_status }}
                        {% else %}
                        --
                        {% endif %}
                        {% endif %}
                    </td>

                                
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}